<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup
      Id="AppComponents"
      Directory="INSTALLFOLDER">

      <!-- Harvest all files from the published output folder -->
      <Files
            Include="$(var.PublishedFilesPath)\**"
            Directory="INSTALLFOLDER" />

    </ComponentGroup>
  </Fragment>
</Wix>
