<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup
      Id="AppComponents"
      Directory="INSTALLFOLDER">

      <!-- Use Files element to harvest all files from the published output folder -->
      <Files
        Include="$(var.PublishedFilesPath)\**"
        Directory="INSTALLFOLDER" />

    </ComponentGroup>
  </Fragment>
</Wix>
