<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Id="bryanknox.SampleWpfAppWixMsiPackage"
    Name="$(var.ProductName)"
    Manufacturer="$(var.Manufacturer)"
    Version="$(var.PackageVersion)"
    Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>
