<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Id="$(var.PackageId)"
    Version="$(var.PackageVersion)"
    Name="$(var.ProductName)"
    Manufacturer="$(var.Manufacturer)"
    Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <MediaTemplate EmbedCab="true" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
      <ComponentRef Id="AppShortcutComp" />
    </Feature>

    <ui:WixUI
        Id="WixUI_InstallDir"
        InstallDirectory="INSTALLFOLDER"
    />
  </Package>
</Wix>
